<html>

<head>
    <title>vue</title>
    <script type="text/javascript" src="vue.js"></script>

</head>   
<body>
    <div id='remmember'> 
      <span v-html=title></span>   
           {{body}}        
          {{x+y}}
          <span v-bind:id='id+"bob"'></span>
          {{multi(10)}}
          <button @click="show('a7la messa')">click here</button>
          <button v-on:click="x++">click </button>
          <div @once>{{x}}</div>
          {{fname +''+ lname + ''+ Date.now() }}<br>
          {{fulnam()}}   <br>
          {{fulname}}   
          <input v-model='fname'>    
        </div>  
        <br>

       <div id='app'>
           <form v-on:submit='saveData'>
                <input type='text' name='test'>
                <button type="submit">Go</button> </form>
                <div v-on:mouseover='re1' style="height:200px;width:200px;background-color:brown">
                        <div v-on:mouseover.once='re2' style="height:100px;width:100px;background-color:gold"></div>
                    </div>
                    <input v-on:click.right="sub">
                    <div :class='className'></div>
                    <div :id='className'></div>
                     <input v-model='x'>
                    <div></div>  {{x}}
                    <button @click= "x='x ' +'dasd'">change</button>
                </div>
<hr>        <br>
  <div id='lik'>
       <button @click='liked =! liked' :class='className'>Like</button> {{likes}}
       <div :class='["liking",className,"b",{"bbbb":false}]'>dsdsd</div>
       <div :style=[style1,style2,{height:x+"px"}]>dsdasdasd</div>
       <button @click=x+=100>increase</button>
       <button @click=x-=100>decrease</button>
       <span v-if= "count==1">equal 1</span>
       <span v-else-if= "count>1"> larger than 1</span>
       <span v-else= "count<1"> lessthan 1</span>
       <div v-show="liked">
        <div v-if="count>1">dd</div>
        <div v-if="count>1">dd</div>
        <div v-if="count>1">dd</div>
        <div v-if="count>1">dd</div>
       </div >
       <button @click="liked =! liked">press here</button>
        <span v-text="liked"></span>
        <hr> 
        <hr>
       
        <div v-for="(item,index) in list1"> {{index+1}} <input v-model='item.name'><input v-model='item.age'>
            <button @click=deleteItem(index)>del</button>
            
            <span v-text="item.name +' : ' + item.age"></span></div>
            <input v-model=add1 required> 
            <input v-model=add2 required> 
            <button @click="adding(add1,add2)">ADD {{add1+add2}}</button>
        <div v-for="item in list2">{{item}}</div>
        <hr>
        <div v-for="(item,indexx)  in list1">
            #{{indexx}}  
            <div v-for="(items,attr)  in item">
             #{{attr}} :     {{items}}</div><hr></div> <hr><hr><hr>

             <div v-for="(item,attr,index)  in list3">#{{attr}}{{item}}</div>

    </div>

   
 
        
           <script>

       
            new Vue({
               el:'#remmember',
               data:{
                   title:'<h1>hi</h1>',
                   body:'iam using now js',
                   x:5,
                   y:8,
                   fname:'mostafa',
                   lname:'ramdan',
                   'id':'test'
                    },
                    methods:{
                    'multi':function(q){
                        return this.x * this.y*q;
                    },
                    'show':function(msg){
                       alert(msg);
                    },
                    fulnam:function(){
                         return this.lname+''+Date.now() ;
                    }
                    },
                    'computed':{
                    fulname:function(){
                        return  this.lname+''+Date.now() ;
                    }
            }
            });
            new Vue({
                el:'#app',
                data:{
                    className:'nemo',
                    x:''

                },
                methods:{
                    'saveData':function(event){
                      event.preventDefault();
                    },
                    're1':function()
                    {
                        console.log('you hover on me1');
                    },
                    're2':function()
                    {
                        console.log('you hover on me 2');
                    },
                    'sub':function(){
                             alert('booooooooooo00M');
                    }
                }
            })
            new Vue({
                el:'#lik',
                data:{
                    liked:false,
                    likes:5,
                    style1:{color:'yellow'},
                    style2:{'background-color':'#ccc'},
                    x:100,
                    count:5,
                    add:'1 ',
                    add1:'12',
                    add2:'13',
                    list1:[{name:"mostafa"  ,age:"22"},
                    {name:"mostafa"  ,age:"22"},
                    {name:"ahmed"  ,age:"23"},
                    {name:"hossam"  ,age:"25"}                           
                              ],
                    list3:{name:"mostafa"  ,age:"22"},                                           
                                     
                      list2:[1,2,5]      
                },
                methods:{
                  adding:function(add1,add2){
                              this.list1.push({name:add1,age:add2});
                              this.add1='';
                  },
                  deleteItem:function(index){
                        this.list1.splice(index,1)
                  }
                  
                  }
                  ,
                computed:{
                     className:function(){
                            return (this.liked)? 'liking':'';
                     }
                 } ,
                 'watch':{
                    liked:function(value){
                          if(value)
                         return this.likes++;
                          else 
                          return this.likes--;
                }
                }
            

             })
            </script>
            <style>
            .liking{
                color:red;
            }
            </style>
    </html>
    
   
        
     