<script type="text/javascript" src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


<div id="app">
	<ul>
		<li v-for="number in evenNum">{{number}}</li>
	</ul>
	
	<ul>
		<li v-for="user in usersUnderAge()">{{user.name}}, {{user.age}}</li>
	</ul>

	<input v-model="search">
	<ul>
		<li v-for="user in searchUsers()">{{user.name}}, {{user.age}}</li>
	</ul>

	<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
	<!-- <input v-model="rate"> -->
	<span  v-for="item in (rate-0)"><i @click="rate=item" class=" fas fa-star"></i></span>
	<span v-for="item in (5-rate)"><i @click="rate+=(item)"class=" far fa-star"></i></span>
</div>

<script type="text/javascript">
	
	new Vue({
		'el':'#app',
		data:{
			rate:  0,
			search: '',
			numbers: [1,2,3,4,5,6,7,8,9],
			users:[
				{name:'bashir', age: 10},
				{name:'ahmad', age: 16},
				{name:'houssam', age: 20},
			]
		},
		computed:{
			evenNum: function(){
				return this.numbers.filter(function(number){
					return number%2 > 0;
				});
			}
		},
		methods:{
			evenNumbers: function(numbers){
				return numbers.filter(function(number){
					return number%2 > 0;
				});
			},
			usersUnderAge: function(){
				return this.users.filter(function(user){
					return user.age > 12;
				});
			},
			searchUsers: function(){
				var app = this;
				return this.users.filter(function(user){
					return user.name.indexOf(app.search) >-1;
				});	
			}
		}
	});

</script>
