<script type="text/javascript" src="vue.js"></script>
<link href="https://unpkg.com/todomvc-app-css@2.1.0/index.css" rel="stylesheet"/>
<section class="todoapp">

    <section class="main" >
      <ul class="todo-list">
        <li class="todo" v-for="todo in todos" :class="{completed:todo.completed}">
          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.completed">
            <label>{{todo.title}}</label>
            <button class="destroy" @click="deleteTodo(todo)"></button>
          </div>
        </li>
      </ul>
    </section>
  
  </section>
  
  <script type="text/javascript">
    new Vue({
      'el': '.todoapp',
      data:{
          todos:[{name}]
      }      
    });
  </script>